	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		padding-bottom: 375px;
		max-width: 375px;
	}

	#u157-4
	{
		min-height: 60px;
		margin-left: 88.5px;
		max-width: 169px;
	}

	#u157-4-wrapper
	{
		bottom: 87px;
		margin-left: -89px;
		width: 45.07%;
		max-width: 169px;
	}

	#u289
	{
		bottom: -1px;
	}


